@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
html {
  font-family: "Indie Flower", cursive;
  color: #BC6FF1;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #010206;
}

nav {
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.877);
  width: 100%;
  position: fixed;
  z-index: 1;
}
nav .in-nav {
  padding: 0.3% 15% 0.3% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav nav.scroll-down {
  top: 0;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}
nav #logo {
  height: auto;
  font-size: 75px;
  font-weight: 900;
  transition-duration: 0.4s;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  animation: doLogo 5s linear infinite;
}
@keyframes doLogo {
  0% {
    color: #F5EAEA;
  }
  25% {
    color: #FFB84C;
  }
  50% {
    color: #F16767;
  }
  75% {
    color: #A459D1;
  }
  100% {
    color: #F5EAEA;
  }
}
nav #logo:hover {
  background-color: rgba(27, 27, 27, 0.5058823529);
}
nav #two {
  width: 100%;
}
nav .Nav-el {
  font-family: "Montserrat", sans-serif;
  padding: 6px 11px 6px 11px;
  border: 1px solid #1b1b1b;
  color: rgba(255, 255, 255, 0.884);
  border-radius: 5px;
  font-size: 16px;
  background-color: black;
  transition-duration: 0.4s;
}
nav #burger div {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 4px;
  margin: 5px;
  background-color: #fdfdfd;
  padding-left: 3%;
  transition: all 0.3s ease;
}
nav .mp {
  background-color: #1b1b1b;
}
nav .scroll {
  background-color: rgb(46, 44, 44);
}

#first {
  background-image: url(/svg.svg);
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
#first #opis {
  width: 35%;
  padding: 9% 1% 12% 16%;
  margin-right: 100px;
}
#first #opis h3 {
  font-size: 12px;
  color: #7f8799;
  letter-spacing: 1.5px;
}
#first #opis h1 {
  color: #7f8799;
  font-size: 30px;
  margin: 20px 0 20px 0;
}
#first #opis h1 span {
  -webkit-text-decoration: underline 2px solid aliceblue;
          text-decoration: underline 2px solid aliceblue;
}
#first #opis #myname {
  margin: 0;
  font-size: 40px;
  color: #FFB84C;
}
#first #opis #buttons {
  width: 80%;
}
#first #opis #buttons button {
  transition-duration: 0.3s;
  background-color: #000000;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
  font-size: 20px;
  width: 170px;
  background-color: none;
  text-decoration: none;
  padding: 10px 18px;
  color: grey;
}
#first #opis #buttons button i {
  color: grey;
  transition-duration: 0.3s;
}
#first #opis #buttons button a {
  text-decoration: none;
  color: grey;
}
#first #opis #buttons button:hover {
  color: #DDF7E3;
  background-color: #1b1b1b;
}
#first #opis #buttons button:hover a, #first #opis #buttons button:hover i {
  color: #DDF7E3;
}
#first #opis2 {
  width: 20%;
  padding: 0px 0px 150px 50px;
}
#first #opis2 img {
  width: 250px;
  border-radius: 50%;
  height: auto;
  box-shadow: rgba(5, 151, 224, 0.774) 6px 2px 16px 0px, rgba(221, 15, 15, 0.774) -6px -2px 16px 0px;
}

section#about {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section#about #container {
  width: 70%;
  text-align: left;
}
section#about #container h3 {
  margin-left: 290px;
  color: aliceblue;
}
section#about #container #rest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #7f8799;
}
section#about #container #rest #text {
  width: 30%;
  font-size: 20px;
}
section#about #container #rest #image {
  margin-left: 100px;
  width: 250px;
  filter: blur(0.1px);
}
section#about #container #rest #image img {
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#four {
  background-color: #010206;
  padding-top: 18%;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  position: relative;
  padding-bottom: 10%;
}
#four i {
  padding: 0 auto 0 auto;
  color: #BC6FF1;
  font-size: 150px;
}
#four h3 {
  color: #FFB84C;
  font-weight: 1000;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}
#four p {
  color: #FFB84C;
  font-weight: 600;
}
#four #dos {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  background-color: #161616;
  padding: 80px 0;
}
#four #dos > div {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  min-width: 400px;
}
#four #HTML {
  height: 100%;
}
#four #CSS {
  height: 100%;
}
#four #JS {
  height: 100%;
}

@media screen and (max-width: 992px) {
  #dos {
    height: 100px;
  }
}
#app {
  background-color: #010206;
  padding-top: 18%;
  font-family: "Montserrat", sans-serif;
  height: 82vh;
}
#app .title-songs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFB84C;
}
#app .product-list {
  padding: 0;
  width: 1000px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#app .product-list .prod-item {
  transition-duration: 0.4s;
  padding: 9px 9px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}
#app .product-list #ram {
  transition-duration: 0.4s;
  width: 100%;
  min-height: 130px;
  max-height: 130px;
  border-radius: 10px;
  background-color: #161616;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
#app .product-list #ram .obraz {
  width: 40%;
}
#app .product-list #ram .obraz img {
  width: 100%;
  border-radius: 7px;
  height: auto;
}
#app .product-list #ram .kontent {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#app .product-list #ram .kontent h1 {
  padding-top: 30px;
  font-size: 20px;
}
#app .product-list #ram .kontent h1 a {
  color: #C84B31;
  list-style-type: none;
  text-decoration: none;
}
#app .product-list #ram .kontent h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  color: #ECDBBA;
  padding: 10px 10px;
}
#app .product-list .prod-item:hover {
  padding: 9px 1px;
}
#app .product-list .prod-item:hover #ram {
  width: 100%;
  min-height: 140px;
}

h3 {
  color: #BC6FF1;
}

.hoverBubble {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  padding: 0px 10px;
  position: absolute;
  text-align: left;
  visibility: hidden;
  border-radius: 3px;
  transition: all 0.25s;
  font-size: 15px;
}

.bubblePosition {
  bottom: 100%;
  height: inherit;
  left: 5%;
}

.hoverBubble:after,
.bubblePosition:after {
  border: 8px solid transparent;
  border-top-color: #333333;
  bottom: -15px;
  content: "";
  height: 0px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0px;
}

.p:hover .hoverBubble {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s;
}
.p:hover .hoverBubble p {
  min-width: 113px;
  display: flex;
  justify-content: left;
}

#form {
  background-color: #010206;
  position: relative;
  width: 100%;
  padding-top: 18%;
  bottom: 100px;
}
#form #fform {
  font-family: "Montserrat", sans-serif;
  background-color: #161616;
  padding: 6px 1px;
  border-radius: 9px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form #fform label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  color: aliceblue;
}
#form #fform h1 {
  font-size: 40px;
  margin: 20px 0 20px 0;
}
#form #fform input, #form #fform textarea {
  resize: none;
  margin: 0 auto;
  color: aliceblue;
  border-radius: 7px;
  width: 320px;
  margin: 5px;
  line-height: 24px;
  background: none;
  border: 1px solid #2e2e31;
  outline: none;
  display: block;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
}
#form #fform #send {
  border: none;
  margin: 10px auto 0 auto;
  background-color: #2e2e31;
}

@media screen and (max-width: 1250px) {
  #first #opis h1 {
    font-size: 30px;
  }
  #first #opis #buttons {
    width: 100%;
  }
  #first #opis2 {
    width: 250px;
    padding: 0;
  }
  #first #opis2 img {
    width: 250px;
  }
  #second {
    background-color: #010206;
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
    display: flex;
  }
  #second i {
    padding: 0 auto 0 auto;
    color: #BC6FF1;
    font-size: 150px;
  }
  #second #dos {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    background-color: #161616;
  }
  #second #dos > div {
    min-width: 250px;
  }
}
@media screen and (max-width: 1050px) {
  #first #opis {
    width: 45%;
  }
  #first #opis h1 {
    font-size: 25px;
  }
  #first #opis2 {
    width: 200px;
    padding: 0;
  }
  #first #opis2 img {
    width: 200px;
  }
  #second {
    background-color: #010206;
    padding-top: 18%;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
    display: flex;
  }
  #second i {
    padding: 0 auto 0 auto;
    color: #BC6FF1;
    font-size: 100px;
  }
  #second #dos {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    background-color: #161616;
  }
  #second #dos p {
    font-size: 20px;
  }
  #second #dos > div {
    min-width: 250px;
  }
  nav {
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.877);
    max-width: 100%;
    position: fixed;
    z-index: 1;
  }
  nav .in-nav {
    padding: 0.3% 10% 0.3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #logo {
    height: auto;
    font-size: 75px;
    font-weight: 900;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    animation: doLogo 5s linear infinite;
  }
  @keyframes doLogo {
    0% {
      color: #F5EAEA;
    }
    25% {
      color: #FFB84C;
    }
    50% {
      color: #F16767;
    }
    75% {
      color: #A459D1;
    }
    100% {
      color: #F5EAEA;
    }
  }
  nav #logo:hover {
    background-color: rgba(27, 27, 27, 0.5058823529);
  }
  nav #two {
    width: 100%;
  }
  nav .Nav-el {
    font-family: "Montserrat", sans-serif;
    padding: 6px 11px 6px 11px;
    border: 1px solid #1b1b1b;
    color: rgba(255, 255, 255, 0.884);
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    transition-duration: 0.4s;
  }
  nav #burger div {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: #fdfdfd;
    padding-left: 3%;
    transition: all 0.3s ease;
  }
  #app .product-list {
    padding: 0;
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
  #app .product-list .prod-item {
    padding: 9px 9px;
    min-height: 150px;
  }
  #app .product-list #ram {
    min-height: 130px;
    max-height: 130px;
    padding: 4px 12px;
  }
  #app .product-list #ram .obraz img {
    width: 100%;
    min-width: 125px;
    max-width: 125px;
    min-height: 125px;
    max-height: 125px;
  }
}
@media screen and (max-width: 774px) {
  #app {
    height: auto;
  }
  #app .product-list {
    padding: 0;
    width: 420px;
    height: auto;
    grid-template-columns: 1fr;
  }
  #app .product-list .prod-item {
    padding: 9px 9px;
    min-height: 150px;
  }
  #app .product-list #ram {
    min-height: 130px;
    max-height: 130px;
    padding: 4px 12px;
  }
  #app .product-list #ram .obraz img {
    width: 100%;
    min-width: 125px;
    max-width: 125px;
    min-height: 125px;
    max-height: 125px;
  }
}
@media screen and (max-width: 500px) {
  #app {
    height: auto;
  }
  #app .product-list {
    padding: 0;
    width: 320px;
    height: auto;
    grid-template-columns: 1fr;
  }
  #app .product-list .prod-item {
    padding: 9px 9px;
    min-height: 150px;
  }
  #app .product-list #ram {
    min-height: 130px;
    max-height: 130px;
    padding: 4px 12px;
  }
  #app .product-list #ram .obraz img {
    width: 100%;
    min-width: 125px;
    max-width: 125px;
    min-height: 125px;
    max-height: 125px;
  }
  #app .product-list .kontent {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  #app .product-list .kontent h1 {
    padding-top: 30px;
    font-size: 10px;
  }
  #app .product-list .kontent h1 a {
    font-size: 18px;
  }
  #app .product-list .kontent h3 {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    color: #ECDBBA;
    padding: 10px 10px;
  }
}/*# sourceMappingURL=website.css.map */